<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c1b3a1">  <td>20/10/04 13:27:59</td>   <td>0</td> <td title="&gt;&gt;TestBase.startDriver()[pri:0, instance:Tests.ParentRegistrationTest@1b1473ab]">&gt;&gt;startDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@686466458</td>   <td></td> </tr>
<tr bgcolor="8e8ea1">  <td>20/10/04 13:28:26</td>   <td>26855</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParentRegistrationTest.UsercanRegisterSuccessfully()[pri:0, instance:Tests.ParentRegistrationTest@1b1473ab]">UsercanRegisterSuccessfully</td> 
  <td>main@686466458</td>   <td></td> </tr>
<tr bgcolor="c1b3a1">  <td>20/10/04 13:28:56</td>   <td>57460</td> <td title="&lt;&lt;TestBase.stopDriver()[pri:0, instance:Tests.ParentRegistrationTest@1b1473ab]">&lt;&lt;stopDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@686466458</td>   <td></td> </tr>
</table>
